body{
    padding: 0;
    margin: 0;
    
}
div{
    margin: 0;
    padding: 0;
    display: block;
    font-family: "Arial";
}
a{
    text-decoration: none;
}
.indexhead_ul{
    padding: 0;
    margin: 0;
    height: 70px;
    width: 100%;
    list-style: none;
    background-color:#D24D57;
}
.indexhead_ul_li{
    height: 100%;
    width: 25%;
    display: block;
    float: left;
}
.indexhead_ul_li:hover{
    background-color: #9D2933;
}
.indexhead_ul_li_span{
    line-height: 70px;
    color: #FC9D99;
    display: block;
    text-align: center;
    font-size: 24px;
    font-family: "Goca";
    font-weight: lighter;
}




body{
    margin: 0;
    padding: 0;
}

.contact_body{
    background: url('images/pinkrose.jpg') no-repeat;
    width: 100%;
    height: auto;
}
.contact_body_head{

    text-align: center;
    border-collapse: separate;
    border-spacing: 1px;
    margin: 0 auto 0px auto;
    padding-top: 40px;
    width: 100%;
    height: 500px;
}
.spanfontstyle{
    font-size: 30px;
    font-family: "Goca";
    font-weight: normal;
    color:white;
}
.contact_body_body{
    height: 300px;
    width: 100%;
}
.con_body_body_555{
    margin-left: 43%;
    height: 100px;
    width: 100%;
    display: block;
    float: left;
    text-align: center;
}
.icon{
    width: 5%;
    height: auto;
    display: block;
    float: left;
    margin-left: 1%;
}
.icon img{
    height: auto;
    width: 100%;
}